// body{
//     background: radial-gradient(black 20%, transparent 0%);
//     background-color: rgb(39, 38, 38);
//     background-size: 13px 13px;
//     z-index: -1;
// }

  // * {
  //   box-sizing: border-box;
  // }
  
  // html {
  //   min-height: 100vh;
  //   cursor: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Cursors/Ghost.cur"), auto;
  // }
  
  body {
    margin: 0;
    background: radial-gradient(black 20%, transparent 0%);
    background-color: rgb(39, 38, 38);
    background-size: 13px 13px;
    //margin-right: 10%;
    //margin-left: 10%;
  }
  
  .titre {
    color: white;
    font-family: Corleone, serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
  }
  
  .jeu-info-box {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
  }
  
  .jeu-info {
    font-family: corleone, serif;
    color: white;
    font-size: 4em;
    
  }
  
  .jeu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 500px;
  }
  .global2{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-around;
    perspective: 500px;
  }
  #global{
    //display: flex;
    flex-wrap: wrap;
    width: 65%;
    display: none;
    justify-content: space-around;
    perspective: 500px;
  }
  .carte {
    position: relative;
    height: 131.25px;
    width: 93.75px;
    margin: 4%;
  }
img {
    height: 175px;
    width: 125px;
}
  .carte:hover {
    cursor: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Cursors/GhostHover.cur"), auto;
  }
  
  .carte-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
  }
  
  .carte.visible .carte-back {
    transform: rotateY(-180deg);
  }
  
  .carte.visible .carte-front {
    transform: rotateY(0)
  }
  
  .matched .card-valeur {
    animation: dance 1s linear infinite 500ms;
  }
  
  .alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: Corleone, serif;
  }
  
  .alert-small {
    font-size: .3em;
  }
  
  .alert.visible {
    display: flex;
    flex-direction: column;
    animation: alert-grow 500ms forwards;
  }
  
  @keyframes alert-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 10em;
    }
  }
  
  @keyframes dance {
    0%, 100%  {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(30deg);
    }
  }
  
  .carte-back {
    background-color: black;
    border-color: black;
  }
  
  .carte-front {
    background-color: #333;
    border-color: #333;
    transform: rotateY(180deg);
  }
  
  .carte-valeur {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
  }
  
  .carte-front:hover .carte-valeur {
    transform: scale(1);
  }
  

  .main {
    align-self: flex-start;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
  }
  
  .carte-back:hover .main {
    transform: translateY(0)
  }
  
  @media (max-width: 600px) {
    .jeu {
      grid-template-columns: repeat(2, auto);
    }
  
    .jeu-info-box {
      flex-direction: column;
      align-items: center;
    }
  }
